<link rel="stylesheet" href="css/dashboard.css">

<h1>Dashboard</h1>
<% if (info) { %>
    <h2>Bot Information</h2>
    <pre><%= info %></pre>
    <% } else { %>
        <p>Bot is not available right now.</p>
        <% } %>

            <div class="chat" id="chat">
                <div class="chatbord" id="chatbord">
                    <p class="msg">author: chat content</p>
                    <p class="msg">author: chat content</p>
                    <p class="msg">author: chat cosntent</p>
                    <p class="msg">author: chat content</p>
                </div>

                <div class="input">
                    <input type="text" placeholder="enter your message" class="msginput" id="sendmsginput">
                    <button id="sendmsgbutton">Send</button>
                </div>
            </div>

            <form action="/stopbot" method="POST">
                <button type="submit">Stop Bot</button>
            </form>

            <script src="/socket.io/socket.io.js"></script>
            <script>
                const chatdiv = document.getElementById("chatbord")

                const socket = io   ({transports: ['websocket'], upgrade: false});
                socket.on('message', (data) => {
                    console.log(data)
                    const messageElement = document.createElement("p");
                    messageElement.classList.add("msg");
                    messageElement.textContent = `${data.author}: ${data.content}`;
                    chatdiv.append(messageElement);
                    chatdiv.scrollTop = chatdiv.scrollHeight;
                })


                const msgbtn = document.getElementById("sendmsgbutton")
                msgbtn.addEventListener("click", () => {
                    console.log("click")
                    const inputcontent = document.getElementById("sendmsginput");

                    console.log("Emitting message:", inputcontent.value);

                    socket.emit('send', inputcontent.value);

                    const newpar = document.createElement("p");
                    newpar.textContent = "<%= author %>" + ": " + inputcontent.value;
                    newpar.classList.add("msg");
                    chatdiv.append(newpar);
                    chatdiv.scrollTop = chatdiv.scrollHeight;
                    inputcontent.value = "";
                });

            </script>