<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loading...</title>
</head>
<body>
    <h1><%= message %></h1>
    <p>Please wait while the bot is initializing.</p>
</body>
</html>
<script></script>